{% extends "interface/base.html" %}

{% block main %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">
                        {% if action == 'add' %}
                        Add Indicator Value
                        {% else %}
                            Edit Indicator Value
                        {% endif %}
                    </h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="/indicators">Indicators</a></li>
                        <li class="breadcrumb-item active">Indicator Values</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->

        <div class="container-fluid">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        Fill the form to {% if action == 'add' %}
                        add
                        {% else %}
                            edit
                        {% endif %} indicator value for {{ indicator.name }}
                    </div>
                     <div class="card-body ">
                        <form id="indicatorValueForm" method="post" action="{{ action }}">
                            {% csrf_token %}
                            {{ form.non_field_errors }}
                            <div class="form-group">
                                <label for="period">Period</label>
                                {{ form.period }}
                                {% if form.period.errors %}
                                    <div class="alert alert-danger">
                                        {{ form.period.errors.as_text }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <label for="targetValue">Target Value</label>
                                {{ form.target_value }}
                                {% if form.target_value.errors %}
                                    <div class="alert alert-danger">
                                        {{ form.target_value.errors.as_text }}
                                    </div>
                                {% endif %}
                            </div>

                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary" style="float: right;" autofocus>
                                {% if action == 'add-value' %}
                                    Add
                                {% else %}
                                    Edit
                                {% endif %}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
{% endblock main %}
