{% extends "interface/base.html" %}

{% block main %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Targets</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Targets</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->

        <div class="container-fluid">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <large class="card-title">
                            <div class="row no-print">
                                <div class="col-12">
                                    <a href="/add-target" class="btn btn-primary float-right" type="button"><i class="fa fa-plus"></i> Add New Target</a>
{#                                    <button type="button" class="btn btn-primary float-right" style="margin-right: 5px;">#}
{#                                        <i class="fas fa-download"></i> Generate PDF#}
{#                                    </button>#}
                                </div>
                            </div>
                        </large>
                    </div>
                    <div class="table-responsive">
                    <div class="table">
                        <table id="targetTable" class="table table-bordered">
                            <colgroup>
                                <col width="5%">
                                <col width="20%">
                                <col width="25%">
                                <col width="20%">
                                <col width="20%">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Target Name</th>
                                    <th>Description</th>
                                    <th>Objective</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for target in targets %}
                                <tr>
                                    <td>{{ target.id }}</td>
                                    <td>{{ target.name }}</td>
                                    <td>{{ target.description }}</td>
                                    <td>{{ target.objective }}</td>
                                    <td>
                                         <a href="/edit-target/{{ target.id }}" class="btn btn-primary edit-btn">Edit</a>
                                        <button class="btn btn-danger delete-btn">Delete</button>
                                    </td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="5">No targets found.</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>

    <style>
        table {
            width: 100%;
            table-layout: fixed;
        }
        table th, table td {
            word-wrap: break-word;
            white-space: normal;
        }
    </style>
{% endblock main %}